.current-card {
  margin-left: 15vw;
  width: 500px;
}

.selected-card-container {
  padding-top: 70px;
  padding-left: 4vw;
  width: 350px;
  height: 400px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.pokemon-list ul {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding from the list */
}

.pokemon-list li {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  border: black 1px solid;

  height: 60px;
  margin-bottom: 20px; /* Add margin between list items */
  transition: all 0.3s ease; /* Add transition for smooth effect */
}
.selected {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: scaleX(1.1) scaleY(1.1); /* Translate 20px to the left on the x-axis */
  transition: all 0.3s ease; /* Add transition for smooth effect */
  opacity: 1 !important; /* Ensure the opacity is applied */
}

.pokemon-list li:hover {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  /* background: linear-gradient(
    110deg,
    rgb(32, 32, 32) 60%,
    rgb(255, 153, 0) 60%
  ); */
  transform: scaleX(1.1) scaleY(1.1); /* Translate 20px to the left on the x-axis */
  transition: all 0.3s ease; /* Add transition for smooth effect */
  opacity: 1;
}

.list-items {
  background-color: rgb(230, 3, 3);
  display: flex;
  color: white;
  align-items: left;
  padding-left: 3%;
  justify-content: left;
  text-align: left;
  font-size: x-large;
  font-weight: 700;
  background: linear-gradient(120deg, #fda23b 20%, rgb(43, 43, 43) 80%);
  opacity: 0.7;
  cursor: pointer;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 60px;
  margin-bottom: 20px; /* Add margin between list items */
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.selected-card {
  padding-top: 70px;
  padding-left: 15vw;
  width: 350px;
  height: 400px;
  transform: scale(1.1);
}

.pokemon-text {
  color: rgb(255, 255, 255);
  /* font-size: x-large; */
}
.number-text {
  font-size: large;
}
.pokemon-list {
  max-height: calc(
    110vh - 20vh
  ); /* Adjusted height to accommodate scrollbar width */
  width: 40vw; /* Set a fixed width for the container */
  /* min-width: 500px; */
  padding-left: 60px;
  overflow-y: auto; /* Enable vertical scrolling if the list exceeds the viewport height */
  overflow-x: hidden; /* Hide horizontal overflow initially */
  position: fixed; /* Fix the container to the right side of the screen */
  top: 90px; /* Align to the top */
  right: -10px; /* Align to the right */
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 150px,
    black calc(100% - 100px),
    transparent 100%
  );
  /* scrollbar-width: thin; */
}

/* WebKit (Safari, Chrome) */
.pokemon-list::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  height: 10px; /* Adjust the height as needed */
}

.pokemon-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
}

@media only screen and (max-width: 1700px) {
  .pokemon-text {
    font-size: x-large;
  }
  .number-text {
    opacity: 0;
  }
  .selected-card {
    padding-left: 5vw; /* Adjust as needed */

    transform: scale(1.1);
  }
  .pokemon-list {
    top: 100px;
    max-height: 900px;
  }
}

@media only screen and (max-width: 800px) {
  .pokemon-text {
    opacity: 0;
  }
  .sprite-image {
    width: 110px;
    padding-right: 30px;
  }
  .pokemon-list {
    top: 130px;
    max-height: 900px;
  }
  .selected-card {
    padding-left: 3vw;
    transform: scale(0.95);
  }
  .selected-card {
    /* min-width: 500px; */
    padding-left: 60px;
    position: fixed; /* Fix the container to the right side of the screen */
    top: 90px; /* Align to the top */
    left: -80px; /* Align to the right */
  }
}
@media only screen and (max-width: 600px) {
  .selected-card {
    /* min-width: 500px; */
    padding-left: 60px;
    position: fixed; /* Fix the container to the right side of the screen */
    top: 90px; /* Align to the top */
    left: -55px; /* Align to the right */
  }
  .selected-card {
    padding: 0px;
    padding-left: 0px;
    transform: scale(0.8);
  }
  .pokemon-list {
    top: 100px;

    max-height: 800px;
  }
}
@media only screen and (max-width: 400px) {
  .selected-card {
    /* min-width: 500px; */
    padding-left: 60px;
    position: fixed; /* Fix the container to the right side of the screen */
    top: 50px; /* Align to the top */
    left: -80px; /* Align to the right */
  }
  .selected-card {
    padding: 0px;
    padding-left: 0px;
    /* transform: scale(0.75); */
  }
  .pokemon-list {
    top: 100px;

    max-height: 800px;
  }
}
